certifi==2023.7.22 ; python_version >= "3.7" and python_version < "3.8"
chardet==5.1.0 ; python_version >= "3.7" and python_version < "3.8"
charset-normalizer==2.1.1 ; python_version >= "3.7" and python_version < "3.8"
defusedxml==0.7.1 ; python_version >= "3.7" and python_version < "3.8"
idna==3.4 ; python_version >= "3.7" and python_version < "3.8"
pysocks==1.7.1 ; python_version >= "3.7" and python_version < "3.8"
python-dateutil==2.8.2 ; python_version >= "3.7" and python_version < "3.8"
requests==2.31.0 ; python_version >= "3.7" and python_version < "3.8"
six==1.16.0 ; python_version >= "3.7" and python_version < "3.8"
solnlib==4.11.2 ; python_version >= "3.7" and python_version < "3.8"
sortedcontainers==2.4.0 ; python_version >= "3.7" and python_version < "3.8"
splunk-sdk==1.7.2 ; python_version >= "3.7" and python_version < "3.8"
splunktalib==3.0.4 ; python_version >= "3.7" and python_version < "3.8"
splunktaucclib==6.0.9 ; python_version >= "3.7" and python_version < "3.8"
u-msgpack-python==2.7.2 ; python_version >= "3.7" and python_version < "3.8"
urllib3==1.26.18 ; python_version >= "3.7" and python_version < "3.8"
